<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="/admin/login">
      <input type="email" name="email" placeholder="email"/>
      {{#if errAdmin}}
        <label for="" style="color: red;">Invalid user</label>
      {{/if}}
      <input type="password" name="password" placeholder="password"/>
      {{#if errPswd}}
        <label style="color: red;" for="">Incorrect password</label>
      {{/if}}
      <button>login</button>
    </form>
  </div>
</div>

<div class="admin">
<a href="/login">Switch to user</a>
</div>