<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!--  CSS --}}

    {{#ifEqual pageTitle 'login'}}
        <link rel="stylesheet" href="/auth/css/login.css">
    {{/ifEqual}}

    {{#ifEqual pageTitle 'signup'}}
        <link rel="stylesheet" href="/auth/css/login.css">
    {{/ifEqual}}



    <title>{{pageTitle}}</title>
</head>
<body>
    
    {{>navbar}}

    {{{body}}}



    {{!-- JS files --}}


</body>
</html>